body{
    background-color:cyan;
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 1rem;
    padding: 0;
}
h1{
    text-align: center;
    margin-top: 50px;
}
.main-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* height: 60vh; */
    margin-bottom: 2rem;
}
#click{
    outline: 0;
    border: 0;
    background-color: #774caf;
    padding: 0.5rem 2rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    
    
}
#click:hover{
    background-color: #d46a12;
    transition: 0.2s ease-in-out;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #333;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 2rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
input{
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;
    border: 1px solid #333;
    outline: 0;

}
#submit{
    outline: 0;
    border: 0;
    background-color: #4c77af;
    padding: 0.3rem 2rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-color: #d4123c;
    transition: 0.2s ease-in-out;
}